body {
  margin:0;
  margin-top:0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;

}

p{
  margin: 10px auto 5px auto;
  font-family: 'Montserrat Alternates', sans-serif
}

.rahul{
  position: relative;
  display: inline;

}

.rahul1{
  position: relative;
  font-size: 66px;
}

.top-div {
  background-color: #c2f0fc;
  position: relative;
  padding-top: 100px;
  width: 100%;

}

.cloud1{
  position: absolute;
  padding-top: 0;
  margin-top: 10%;
  margin-left: 30%;
}

.cloud2{
  position: absolute;
  left: 15%;
  top: 10%;
}

.cloud3{
  position: absolute;
  left: 30%;
  top: 30%;
}

.cloud4{
  position: absolute;
  left: 7%;
  top: 50%;
}

.cloud5{
  position: absolute;
  margin-top: 3%;
  margin-left: 15%;
}

.mountain{
  position: relative;
  margin:2px auto 0 auto;
  width: 60%;


}

.middle-div {

}

.profile-pic1{
  width: 200px;
  height: 200px;
}

.coding-skill{
  width: 250px;
  height: 250px;
}

.cyber-security{
  width: 250px;
  height: 250px;
}

.bottom-div{

}

.note{

}
